<section class="lp-layer call2action padding-block-32" data-md-color-scheme="slate">
    <div class="layer_inner center">
        <div class="cta padding-block-64">
            <h3 class="fs-headline-m fw-bold" style="margin-bottom: var(--size-16);">Get Started with RaspAP</h3>
            <p><p>Our <a href="https://docs.raspap.com/faq/" style="color: rgb(187, 128, 0);">frequently asked questions (FAQ)</a> are continuously updated and are a great place to start. Need help not covered in the FAQ, have an idea or want to share your project with the RaspAP community? Head over to our GitHub <a href="https://github.com/RaspAP/raspap-webgui/discussions" style="color: rgb(187, 128, 0);">Discussions</a>. For everything else, dive into our official documentation.</p>
            <button class="button" style="margin-top: var(--size-32);"><a href="quick-start">Quick Start</a></button>
            <button class="button" style="margin-top: var(--size-32);"><a href="https://docs.raspap.com">Documentation</a></button>
        </div>
    </div>
</section>